<div class='container'>
    <div class='col-xs-12 text-center'><h2>{{this.numberOfAddresses}} Addresses</h2></div>
    {{#each changesets as |changeset index|}}
        {{#if (eq index 0)}}
        <div class='block p-t-0'>
            <div class='container'>
                <h3 class='block-title text-uppercase'>Current Address</h3>
                <h4 class='block-title'>Please list all previous addresses you have lived at over the past 10 years. <small>(<span style='color: red;'>Current Address</span> does not require <span style='color: red;'>To Date</span>)</small></h4>
                <div class='row' style='border: 1px solid black;'>
                {{my-address 
                    removeAddress=(action 'removeAddress')
                    changeset=changeset
                    changed=(action 'changed')
                }}
                </div>
            </div>
        </div>
        {{else}}
        <div class='block block-bordered-lg'>
            <div class='container'>
                <h3 class='block-title text-uppercase'>Previous Address <span class='ion-ios-trash-outline removeItem' {{action 'removeAddress' address index}}></span></h3>
                <div class='row' style='border: 1px solid red;'>
                    {{my-address
                        removeAddress=(action 'removeAddress')
                        changeset=changeset
                        changed=(action 'changed')
                    }}
                </div>
            </div>
        </div>
        {{/if}}
    {{/each}}

    <div class='block' style='margin-top: 10px;'>
        <div class="pull-left">
            <button type="button" title="Add Address" class="btn btn-success"  {{action 'addAddress'}}><i class="fa fa-plus"></i> Add Previous Address</button>
        </div>
    </div>

    <div class='block'>
        <div class='container'>
            <div class="pull-right">
                <fieldset class='customFieldset'>
                    <legend class='customFieldset'>Addresses Context (I live outside of the individual <i><strong>address</strong></i>'s)</legend>
                    {{#if (eq this.allValid true)}}
                    <div class='col-xs-offset-8 col-xs-4'>
                        <button type="button" class="btn btn-primary"><i class="fa fa-chevron-left" {{action 'save' changeset}}></i> {{backText}}</button>
                        <button type="submit" class="btn btn-primary pull-right" {{action 'save' this}}><i class="fa fa-chevron-right"></i> {{saveText}}</button>
                    </div>
                    {{else}}
                    <div class='col-xs-offset-8 col-xs-4'>
                        <button type="button" disabled class="btn btn-primary"><i class="fa fa-chevron-left"></i> {{backText}}</button>
                        <button type="submit" disabled class="btn btn-primary pull-right"><i class="fa fa-chevron-right"></i> {{saveText}}</button>
                    </div>
                    {{/if}}
                </fieldset>
            </div>
        </div>
    </div>
</div>
